
config CLI_LIB
    bool "Command line support"
    default y

if CLI_LIB

choice
    prompt "Cli Selection"
    default FREERTOS_CLI
config FREERTOS_CLI
    bool "FreeRTOS provide cli"
config LINUX_CLI
    bool "Linux support cli"
endchoice
config CLI
    string
    default "FreeRTOS_CLI" if FREERTOS_CLI
    default "Linux_CLI" if LINUX_CLI
    help
      CLI name
endif

config SIM_LIBC
    bool "Simon provided libc"
    default y
config FLASH_CMD
    bool "flash command support"
    default y

config FS
    bool "File System support"
if FS
choice
    prompt "Select a file system"
config FAT
    bool "Fat filesystem format"
if FAT
choice
    prompt "Select a Fat filesysten"
config FILEX
    bool "FileX system"
endchoice
endif
config EXT
    bool "Ext filesystem format"
endchoice
endif
