rsource "flash/Kconfig"
config CLOCK
    bool "clock support"
    default y
config GPIO
    bool "gpio support"
    default y
config LED
    bool "led support"
    default y
config KEY
    bool "key support"
    default y
config USART
    bool "USART support"
    default y
config SPI
    bool "SPI support"
    default y
